@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
    --primary-moderate-blue: hsl(238, 40%, 52%);
    --primary-soft-red: hsl(358, 79%, 66%);
    --primary-light-grayish-blue: hsl(239, 57%, 85%);
    --primary-pale-red: hsl(357, 100%, 86%);
    --Neutral-dark-blue: hsl(212, 24%, 26%);
    --Neutral-grayish-blue: hsl(211, 10%, 45%);
    --Neutral-light-gray: hsl(223, 19%, 93%);
    --Neutral-very-light-gray: hsl(228, 33%, 97%);
    --Neutral-white: hsl(0, 0%, 100%);
    --big-cards-border-radius: 7px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
    font-family: "Rubik", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--Neutral-very-light-gray);
}

img,
picture,
svg,
video {
    /* display: block; */
    max-width: 100%;
}

p {
    font-size: 16px;
}

.loading::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border-top: 5px solid var(--primary-moderate-blue);
    border-bottom: 5px solid var(--primary-moderate-blue);
    border-right: 5px solid var(--primary-moderate-blue);
    border-left: 5px solid transparent;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    z-index: 100;
    animation-name: rotate-loding;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.28, 0.24, 0.25, 0.35);
    animation-iteration-count: infinite;
}

@keyframes rotate-loding {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 500;
}

.comment-section {
    margin-top: 20px;
}

.comment-card {
    display: flex;
    align-items: start;
    gap: 20px;
    padding: 20px;
    background-color: var(--Neutral-white);
    border-radius: var(--big-cards-border-radius);
}

.reply-comment-card {
    margin-top: 20px;
}

.upvote-downvote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
    border-radius: var(--big-cards-border-radius);
    text-align: center;
}

.upvote-downvote {
    background-color: var(--Neutral-very-light-gray);
}

.upvote-btn:hover,
.downvote-btn:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: transform 0.6s;
}

.active {
    transform: scale(1.2);
    transform: scale(1.2) translateY(-1px);
}

.upvote-downvote + div {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.comment-info {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.name {
    font-weight: 700;
}

.user-img {
    max-width: 30px;
}

.comment-date {
    color: var(--Neutral-grayish-blue);
}

.reply button {
    color: var(--primary-moderate-blue);
    font-weight: 700;
}

.comment {
    margin-top: 20px;
    font-weight: 400;
    color: var(--Neutral-grayish-blue);
    line-height: 1.4;
}

.comment p {
    display: inline;
}

.reply-section {
    position: relative;
    display: grid;
    justify-items: end;
}

.reply-section > * {
    width: 89%;
}

.reply-section::after {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 20px);
    background: var(--Neutral-light-gray);
    right: 94.5%;
    top: 20px;
}


.reply-to {
    color: var(--primary-moderate-blue);
    font-weight: 700;
}

.you {
    padding: 0 7px 2px;
    text-align: center;
    border-radius: 3px;
    background-color: var(--primary-moderate-blue);
    color: var(--Neutral-white);
}

.edit-delete {
    display: flex;
    gap: 20px;
    height: fit-content;
}

.edit-delete img {
    object-fit: contain;
}

.edit-btn {
    color: var(--primary-moderate-blue);
}

.edit:hover,
.delete:hover {
    transition: opacity 0.6s;
    opacity: 0.7;
}

.show-modal {
    color: var(--primary-soft-red);
}

.edit-btn,
.show-modal {
    font-weight: 700;
}

.add-comment-section {
    position: sticky;
    bottom: 0;
    background: var(--Neutral-white);
    border-radius: var(--big-cards-border-radius);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin-top: 20px;
}

.add-reply-section form {
    background: var(--Neutral-white);
    border-radius: var(--big-cards-border-radius);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    width: 100%;
}

textarea {
    resize: none;
    width: 80%;
    min-height: 100px;
    max-height: 200px ;
    padding: 10px;
    border: 1px solid var(--Neutral-light-gray);
    border-radius: var(--big-cards-border-radius);
}


textarea:focus {
    outline: none;
    border: 1px solid black;
}

.add-comment-btn,
.add-reply-btn,
.add-reply-to-a-reply-btn,
.update-btn {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    background: var(--primary-moderate-blue);
    text-transform: uppercase;
    color: var(--Neutral-white);
    border-radius: var(--big-cards-border-radius);
}

.update-btn {
    align-self: flex-end;
}
.hide-form {
    display: none;
}

.show-form {
    position: initial;
    margin-top: 10px;
    display: flex;
}

.hide {
    display: none !important;
}

button:hover {
    transition: opacity .6s;
    opacity: .7;
}

.hystmodal--active .hystmodal__window {
    display: flex;
    flex-direction: column;
    width: 96%;
    max-width: 375px;
    padding: 30px 18px;
    border-radius: var(--big-cards-border-radius);
}

.hystmodal__window div {
    display: flex;
}
.modal-header {
    color: var(--Neutral-dark-blue);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-text {
    color: var(--Neutral-grayish-blue);
    margin-bottom: 20px;
    line-height: 1.4;
}


.close-modal ,
.delete-btn {
    text-transform: uppercase;
    color: var(--Neutral-white);
    padding: 15px 30px;
    border-radius: var(--big-cards-border-radius);
}

.close-modal {
    background-color: var(--Neutral-grayish-blue);
}

.delete-btn {
    background-color: var(--primary-soft-red);
    margin-left: 10px;
}


@media (max-width: 750px) {
    .comment-card {
        position: relative;
        padding-bottom: 70px;
    }
    .upvote-downvote {
        flex-direction: row;
        position: absolute;
        bottom: 10px;
        padding: 10px 15px;
        gap: 15px;
    }
    .reply,
    .edit-delete {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }
    .add-reply-section form {
        flex-direction: column;
        align-items: center;
    }
    .add-reply-section form textarea {
        width: 100%;
    }
    .add-reply-btn {
        width: 50%;
    }
}
@media (max-width: 390px) {
    .container {
        width: 94%;
    }
    .reply-section > * {
        width: 95%;
    }
    .reply-section::after {
        right: 99%;
    }
    .user-info {
        gap: 5px;
    }
}
